html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.table {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}
table {
  width: fit-content;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr :hover {
  background-color: rgba(255, 255, 255, 0.3);
}
td {
  position: relative;
}
td:hover td::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
td button {
  position: relative;
  background-color: #55608f;
  font-weight: bold;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
td button:hover {
  background-color: #25305f;
}
td .delete:hover {
  background-color: red;
}

@media screen {
}
